@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

:root {
    --main-color: #8EB1C7
}

/* minimal css reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Newsreader', 'Roboto Flex', Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

img {
    width: 100%;
}

/* Navbar Kode :) */

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 0;
    height: 60px;
}


nav {
    background-color: #d53131;
}

nav a,
nav button{
    background-color: inherit;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px;
    border: none;
    font-family: 'Roboto Flex', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.bildeforside {
    width: 100% !important;
}

.logoSkrift{
        font-family: "Bytesized", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        padding: auto;
        margin-right: auto;
        margin-top: 5px;
      }
      


.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: salmon;
    padding: 20px;
    margin-left: 40px;
    margin-top: -10px;
    border-radius: 15px;

}

.dropdown-content a {
    font-size: 15px;
    padding: 5px;
    color: white;
}

.kontakt {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.kontakt li {
    background: #d53131;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.fa-caret-down.rotate {
    transform: rotate(360deg);
    transition: transform 1s ease;
}

/* Artikkel Format */

.master {
    max-width: 900px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 14px;
    margin-left: auto;
    margin-right: auto;
}

.master>article {
    background-color: rgb(254, 254, 254);
    grid-column: span 3;
    min-height: 150px;
}

article.small {
    grid-column: span 1;
}

article.medium {
    grid-column: span 3;
}

article.large {
    grid-column: span 6;
}

article.x-large {
    grid-column: span 9;
}

article.xx-large {
    grid-column: span 12;
}


.nyhettext {
    font-size: 3.2rem;
    text-decoration: none;
    text-align: center;
    color: black;
    padding-bottom: 10px;
}

.master2 {
    margin-top: 20px;
}

.nyhettext a {
    color: black;
    text-decoration: none;


}

.nyhettext a:visited {
    color: black;
    text-decoration: none;
}

/* Baisc Artikkel Layout */

.Artikkellayout {
    width: 75%;
    min-width: 75%;
    max-width: 90%;
    margin: 80px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

/*  Sjenerelt Text og Bilde Artikkel Layout */

.xx-large.nyhettext img {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 20px;

}

.p1 {
    font-size: 1.4rem;
    line-height: 1.7;
    margin: 15px 20px 0px 20px;
    padding: 10px;
}

.head1 {
    font-size: 2rem;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    line-height: 1.7;
}

.head2{
    font-size: 1.2rem;
    padding: 10px;
    line-height: 1.7;
}

/* Footer */

.footer1 {
    font-size: 1rem;
    background-color: #d53131;
    height: 60px;
    padding: 20px 0;
    text-align: center
    
}

.footer1>p {
    color: white;
    text-decoration: none;
}

/* Kode for Kilde */

.kildehead {
    margin: 0px;
    padding: 0px;
}

/* artikkel Airbus */

#airbusArtikkel>img {
    max-width: 50rem;
    padding: 0;
}

.p4 {
    line-height: 1.5;
    font-size: 2.7rem;
}

/* Quantum Computing */

a.kilder {
    text-decoration: underline !important;
}

/* Mark og Meta KI */

.nyhettext.medium {
    font-size: 2.9rem; 
    line-height: 1.1;
}

/* BYD Lynlader og Artikkel ChatGPT */

#chatimg {
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.p2 {line-height: 1.2;}

/* Slag Medsin */

.p3 {
    line-height: 1.5;
    font-size: 3rem;
}

/* Kjørende Artikkel */

#kjørende {height: 600px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 20px;}

/* Gemini Artikkel */

#gemimg {height: 150px;}

#p5 {line-height: 1.2;}

/* Tips oss */
#TipsBoks{
    margin-bottom: 8%;
}